@import "compass/reset";
@import "compass/css3";
 
// basic settings
body {
    color: #333;  
	text-align: center;
    font-family: 'Montserrat', sans-serif;
	background: #f7f7f7;
}

h1{
    font-family: 'Slabo 27px', serif;
	font-size: 2.25em;
    padding: 0 1em;
	font-style: italic;
}	

a {
    text-decoration: none;
}
 
img {
    max-width: 100%;
    height: auto;
}

html {
  //height: 100vh;
}

div{
//	min-height: 100vh;
}

// outer and inner help keep the div centered
.outer{
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.inner{
	display: table-cell;
	vertical-align: middle;
}

// container settings
.container {
    position: relative;
	//	padding: 4em ;	
	padding-left: 10%;
    padding-right: 10%;
}

// make the avatar a circle
.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px); // half the avatar size
    width: 200px;
    height: 200px;
}
 
// about settings
.about {
    padding: 1em 0 0em;
}

// social button settings
.social {
    margin: .5em 0;
	
    li {
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);
 
        &:hover {
            @include scale(1.25);
            color: white;
        }
 
        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 1.5em;
            left: 50%;
        }
 
        a {
            display: block;
            color: inherit;
            padding: 1em 1em 1em;
            width: 6em;
            // allow truncation if needed
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

// icon size
ion-icon {
  font-size: 25px;
}

// social link colours
.icon-resume {color: #e95950}
.icon-resume:hover {background:#e95950}

.icon-email {color: #004f9f}
.icon-email:hover {background:#004f9f}

.icon-github {color: #333}
.icon-github:hover {background:#333}

.icon-linkedin {color: #0077b5}
.icon-linkedin:hover {background:#0077b5}

.icon-instagram {color: #cd486b}
.icon-instagram:hover {background:#cd486b}

.icon-soundcloud {color: #ff7700}
.icon-soundcloud:hover {background:#ff7700}