@import "compass/reset";
@import "compass/css3";
 
/* basic settings */
body {
    color: #333;  
	text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Slabo 27px', serif;
	font-size: 2.25em;
    padding: 0 1em;
}	

a {
    text-decoration: none;
}
 
img {
    max-width: 100%;
    height: auto;
}

/* header settings */
.header {
    padding: 10em 0 14em;
    h1 {
        font-style: italic;
    }
}

// make the avatar a circle
.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px); // half the avatar size
    width: 100px;
    height: 100px;
}

/* footer settings */
.footer {
    p {
        color: #777;
        padding: 0 1em;
    }
}

// background for header and footer
.header,
.footer {
    background: #f7f7f7;
}
 
.footer {
    padding: 4em 0 6em;
}

// styling the icons

// Shared styles
.icon-resume:before,
.icon-twitter:before {
    //font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

// Individual characters
.icon-resume:before {
	
}
	
.social {
    margin:2em 0;
    //font-family: Helvetica, Arial, sans-serif;
 
    li {
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);
 
        &:hover {
            @include scale(1.25);
            color: white;
        }
 
        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 1.5em;
            left: 50%;
        }
 
        a {
            display: block;
            color: inherit;
            padding: 2.5em 1em 1em;
            width: 6em;
            // allow truncation if needed
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.icon-resume {color: #0000FF}
.icon-resume:hover {background:#0000FF}
