/* Animations */
.animate {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*=== slide-right ===*/
@-webkit-keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.slide-right {
  -webkit-animation-name: slide-right;
  animation-name: slide-right;
}
/* FADE IN */
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  /* Animation is done */
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.fade-in.delay {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

/* END OF ANIMATIONS */

/* Navbar */
#nav {
  background-color: #2A2A2A;
  border-bottom: 5px inset royalblue;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
  color: white;
}
#nav .navbar-brand:hover {
  color: white;
}

/*Home*/
.jumbotron {
  background-image: url("http://wallpapercave.com/wp/77m2moa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 95vh;
  width: 100vw;
}
#home h1 {
  font-size: 6em;
  padding-top: 120px;
  color: white;
  font-size: 100px;
}
#home h2 {
  color: white;
  font-size: 45px;
}
.title-font {
  color: white;
  padding-top: 100px
  font-size: 45px;
}
.blue-line {
  border: 10;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 2px blue;
}
.text-stroke {
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.media {
  padding-left: 400px;
  padding-bottom: 88px;
}
.media-body {
  padding-top: 24px;
  padding-right: 200px;
  padding-bottom: 50px;
}
.media-heading{  
  padding-left: 10px;
  padding-bottom: 10px;
}
portfolio {
  margin-left: 25px;
}
.image-setting {
  display: block;
  margin-left: auto;
  margin-top: 26px;
  width: 30%;
  height: 30%;
  border-radius: 20%;
}
.invisible{
  clear: both;
  visibility: hidden;
}
