/* line 5, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
body {
  color: #333;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #f7f7f7;
}

/* line 12, ../sass/style.scss */
h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 2.25em;
  padding: 0 1em;
  font-style: italic;
}

/* line 19, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 23, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 37, ../sass/style.scss */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 44, ../sass/style.scss */
.inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 50, ../sass/style.scss */
.container {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 58, ../sass/style.scss */
.avatar {
  -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

/* line 66, ../sass/style.scss */
.about {
  padding: 1em 0 0em;
}

/* line 71, ../sass/style.scss */
.social {
  margin: .5em 0;
}
/* line 74, ../sass/style.scss */
.social li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 80, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: white;
}
/* line 85, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 1.5em;
  left: 50%;
}
/* line 93, ../sass/style.scss */
.social li a {
  display: block;
  color: inherit;
  padding: 1em 1em 1em;
  width: 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 107, ../sass/style.scss */
ion-icon {
  font-size: 25px;
}

/* line 112, ../sass/style.scss */
.icon-resume {
  color: #e95950;
}

/* line 113, ../sass/style.scss */
.icon-resume:hover {
  background: #e95950;
}

/* line 115, ../sass/style.scss */
.icon-email {
  color: #004f9f;
}

/* line 116, ../sass/style.scss */
.icon-email:hover {
  background: #004f9f;
}

/* line 118, ../sass/style.scss */
.icon-github {
  color: #333;
}

/* line 119, ../sass/style.scss */
.icon-github:hover {
  background: #333;
}

/* line 121, ../sass/style.scss */
.icon-linkedin {
  color: #0077b5;
}

/* line 122, ../sass/style.scss */
.icon-linkedin:hover {
  background: #0077b5;
}

/* line 124, ../sass/style.scss */
.icon-instagram {
  color: #cd486b;
}

/* line 125, ../sass/style.scss */
.icon-instagram:hover {
  background: #cd486b;
}

/* line 127, ../sass/style.scss */
.icon-soundcloud {
  color: #ff7700;
}

/* line 128, ../sass/style.scss */
.icon-soundcloud:hover {
  background: #ff7700;
}
