/* line 5, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body {
  color: #333;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #f7f7f7;
}

/* line 15, ../sass/style.scss */
h1 {
  font-size: 2.25em;
  padding: 0 1em;
  font-style: italic;
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 30, ../sass/style.scss */
ion-icon {
  font-size: 25px;
}

/* line 34, ../sass/style.scss */
.gap {
  padding: 1em 0 0;
}

/* line 38, ../sass/style.scss */
.padDown {
  padding: 0.5em 0em 0.5em;
}

/* line 43, ../sass/style.scss */
.outer {
  padding: 20px;
  text-align: center;
  overflow-x: hidden;
}

/* line 49, ../sass/style.scss */
.inner {
  display: inline-block;
  padding: 40px;
}

/* line 55, ../sass/style.scss */
.avatar {
  -moz-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -webkit-box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  box-shadow: 0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

/* line 67, ../sass/style.scss */
.loadanimation {
  animation: 1s ease-in-out both fadeInRight;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
/* line 83, ../sass/style.scss */
.tile {
  animation: .4s ease-in-out both fade-in;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(1) {
  animation-delay: 1.35s;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(2) {
  animation-delay: 1.5s;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(3) {
  animation-delay: 1.65s;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(4) {
  animation-delay: 1.8s;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(5) {
  animation-delay: 1.95s;
}

/* line 90, ../sass/style.scss */
.tile:nth-child(6) {
  animation-delay: 2.1s;
}

/* TODO At the moment, transforming will break the hover code*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 108, ../sass/style.scss */
.social li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: .5em;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 114, ../sass/style.scss */
.social li:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  color: white;
}
/* line 120, ../sass/style.scss */
.social li:before {
  position: absolute;
  width: 2em;
  /* center align technique, give width, negative half margin */
  margin-left: -1em;
  top: 1.5em;
  left: 50%;
}
/* line 128, ../sass/style.scss */
.social li a {
  display: block;
  color: inherit;
  padding: 1em 1em 1em;
  width: 6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 142, ../sass/style.scss */
.icon-resume {
  color: #e95950;
}

/* line 143, ../sass/style.scss */
.icon-resume:hover {
  background: #e95950;
}

/* line 145, ../sass/style.scss */
.icon-email {
  color: #004f9f;
}

/* line 146, ../sass/style.scss */
.icon-email:hover {
  background: #004f9f;
}

/* line 148, ../sass/style.scss */
.icon-github {
  color: #333;
}

/* line 149, ../sass/style.scss */
.icon-github:hover {
  background: #333;
}

/* line 151, ../sass/style.scss */
.icon-linkedin {
  color: #0077b5;
}

/* line 152, ../sass/style.scss */
.icon-linkedin:hover {
  background: #0077b5;
}

/* line 154, ../sass/style.scss */
.icon-instagram {
  color: #cd486b;
}

/* line 155, ../sass/style.scss */
.icon-instagram:hover {
  background: #cd486b;
}

/* line 157, ../sass/style.scss */
.icon-soundcloud {
  color: #ff7700;
}

/* line 158, ../sass/style.scss */
.icon-soundcloud:hover {
  background: #ff7700;
}

/* line 161, ../sass/style.scss */
#spin {
  color: red;
}

/* line 164, ../sass/style.scss */
#spin:after {
  content: "";
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    content: "HTML5";
  }
  10% {
    content: "CSS";
  }
  20% {
    content: "Java";
  }
  30% {
    content: "Python";
  }
  40% {
    content: "Node.Js";
  }
  50% {
    content: "JavaScript";
  }
  60% {
    content: "PHP";
  }
  70% {
    content: "VB.Net";
  }
  80% {
    content: "React";
  }
  90% {
    content: "C";
  }
  100% {
    content: "SQL";
  }
}
